.link {
  background-color: transparent;
  text-decoration: none;
  border: none;
  outline: none;
  padding: 0;
  color: var(--muted-text-color);
  cursor: pointer;

  &[aria-pressed='true'],
  &[aria-current='true'] {
    color: var(--primary-blue);
  }

  &:hover {
    color: var(--strong-text-color);
  }

  &:focus {
    outline: 2px auto;
    outline-offset: 5px;
  }
}
