.checkboxInput {
  composes: visuallyHidden from '@styles/utils.module.scss';

  transition: 220ms ease-in-out;
  transition-property: background;

  &:focus-visible + label {
    outline: 5px auto;
  }

  &:checked + label {
    & .labelText {
      text-decoration: line-through;
      color: var(--very-muted-text-color);
    }

    & .checkBorderWrap::before {
      opacity: 1;
    }

    & .check {
      background-color: transparent;
    }

    & .checkIcon {
      opacity: 1;
    }
  }

  &:focus + label .checkBorderWrap {
    // background: var(--color-gradiant);
  }
}

.label {
  flex-grow: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: var(--s0) var(--s1);
  outline-offset: calc(-1 * var(--s-2));
  isolation: isolate;

  & > :first-child {
    margin-right: var(--s1);
  }

  &:hover .checkBorderWrap::before {
    opacity: 1;
  }
}

.checkBorderWrap {
  --border-width: calc(max(0.125rem, 2px));
  position: relative;
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: var(--border-width);
  border-radius: 50%;
  background: var(--very-muted-text-color);
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--color-gradiant);
    border-radius: 50%;
    transition: opacity 500ms;
  }
}

.check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: var(--main-background-color);
  color: var(--very-muted-text-color);
  transition: background-color 500ms;

  // could probably change the viewbox of the svg to improve the center weighting
  & .checkIcon {
    transform: translateY(1px);
    opacity: 0;
  }
}

.checkIcon {
  width: var(--s-2);
  height: var(--s-2);
  stroke: currentColor;
  color: var(--main-background-color);
}

.labelText {
  flex-grow: 1;
  letter-spacing: -0.01em;
  transition: color 500ms;
}
