.todoItem {
  padding: var(--s0) var(--s1);

  & > span {
    display: flex;
    align-items: center;
    overflow: hidden;

    & > * {
      animation-name: clip-in;
      animation-duration: 2s;
      animation-delay: 0s;

      @keyframes clip-in {
        from {
          transform: translateY(110%);
        }
      }
    }
  }
}
