.deleteTodoButton {
  composes: iconButton from '../icon-button/icon-button.module.scss';
  // this pulls the non visibile button target outwards
  // keeping an accessible button size but not making the containing todo too large
  padding: var(--s-1);
  margin: calc(-1 * var(--s-1));
}

.deleteTodoIcon {
  width: 1em;
  height: 1em;
}
