@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}

:root {
  --measure: 60ch;
  --scale-ratio: 1.33;
  --s-2: calc(var(--s-1) / var(--scale-ratio));
  --s-1: calc(var(--s0) / var(--scale-ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--scale-ratio));
  --s2: calc(var(--s1) * var(--scale-ratio));
  --s3: calc(var(--s2) * var(--scale-ratio));
  --border-radius: 4px;
  --color-gradiant: linear-gradient(
    to bottom right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  --primary-blue: hsl(220, 98%, 61%);
  --very-light-gray: hsl(0, 0%, 98%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);
  --white: hsl(0, 0%, 100%);
  --body-color: var(--very-light-gray);
  --main-background-color: var(--white);
  --very-muted-text-color: var(--light-grayish-blue);
  --muted-text-color: var(--dark-grayish-blue);
  --strong-text-color: var(--very-dark-grayish-blue);
}

* {
  max-width: var(--measure);
}

html,
body,
div,
header,
nav,
main,
footer {
  max-width: none;
}

body {
  background-color: var(--body-color);
}
