@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}

:root {
  --measure: 60ch;
  --scale-ratio: 1.33;
  --s-2: calc(var(--s-1) / var(--scale-ratio));
  --s-1: calc(var(--s0) / var(--scale-ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--scale-ratio));
  --s2: calc(var(--s1) * var(--scale-ratio));
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --body-color: var(--very-light-gray);
  --main-background-color: var(--white);
}

* {
  max-width: var(--measure);
}

html,
body,
div,
header,
nav,
main,
footer {
  max-width: none;
}

body {
  background-color: var(--body-color);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
