.visuallyHidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.screen {
  min-height: 100vh;
  display: grid;
  grid-template-areas: 'screen';

  & > * {
    grid-area: screen;
  }
}

.background {
  position: relative;
  max-height: 33vh;
  width: 100%;
  background: var(--background-gradiant);
}

.center {
  box-sizing: content-box;
  max-width: var(--measure);
  margin-left: auto;
  margin-right: auto;
}

.cover {
  isolation: isolate;
  --gutter: var(--s2);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: var(--gutter);
}

.cover > * {
  margin-top: var(--gutter);
  margin-bottom: var(--gutter);
}

.cover > :first-child:not(.appContent) {
  margin-top: 0;
}

.cover > :last-child:not(.appContent) {
  margin-bottom: 0;
}

.cover > .appContent {
  margin-top: auto;
  margin-bottom: auto;
}

.header {
  font-size: var(--s2);
  --button-color: var(--very-light-grayish-blue);
  --button-hover-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-size: var(--s3);
  font-weight: 700;
  color: var(--heading-color);
  text-transform: uppercase;
  letter-spacing: 0.17em;
}

.appContent {
  --gutter: var(--s1);
  flex-grow: 1;
  height: 0; /* otherwise 1fr grid row doesn't grow in chrome */
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto auto;
  grid-template-areas:
    'input input'
    'list list'
    'count clear'
    'filters filters';

  @media (min-width: 800px) {
    grid-template-columns: minmax(max-content, 1fr) auto minmax(
        max-content,
        1fr
      );
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      'input input input'
      'list list list'
      'count filters clear';
  }
}

.appContent > * {
  background-color: var(--main-background-color);
}

.todoForm {
  grid-area: input;
  display: flex;
  align-items: center;
  margin-bottom: var(--gutter);
  padding: var(--s0) var(--s1);
  border-radius: var(--border-radius);

  box-shadow: 0 0 30px 0px var(--shadow-color);

  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 20%;
    bottom: 0;
    left: 20%;
    box-shadow: 0 0 50px 10px var(--shadow-color);
    z-index: -1;
  }

  &:focus-within {
    box-shadow: 0 0 30px 0px var(--shadow-color),
      0 0 4px 1px var(--strong-text-color);
  }
}

.decorativeCircle {
  --border-width: calc(max(0.125rem, 2px));
  width: 1rem;
  height: 1rem;
  border: var(--border-width) solid var(--very-muted-text-color);
  border-radius: 50%;
}

.inputBase {
  border: none;
  outline-color: transparent;
  outline-style: solid;
  background: none;

  &:focus {
    box-shadow: 0 0 4px var(--muted-text-color);
  }
}

.todoInput {
  composes: inputBase;
  flex-grow: 1;
  width: 0; /* override browser min-width on input */
  padding-left: var(--s1);
  border-radius: var(--border-radius);

  &:focus {
    box-shadow: none;
  }
}

.todoList {
  grid-area: list;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);

  & > :not(.emptyMessage) {
    border-bottom: 1px solid var(--very-muted-text-color);
  }
}

.smallText {
  font-size: max(var(--s-1), 15px);
}

.itemsCount {
  composes: smallText;

  grid-area: count;
  border-bottom-left-radius: 4px;
  padding: var(--s0) var(--s1);
  color: var(--muted-text-color);
}

.filterButtons {
  composes: smallText;
  grid-area: filters;
  margin-top: var(--gutter);
  padding: var(--s0) var(--s1);
  border-radius: var(--border-radius);
  display: flex;
  gap: var(--s0);
  justify-content: center;
  font-weight: 700;

  box-shadow: 0 0 30px 0px var(--shadow-color);

  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 20%;
    bottom: 0;
    left: 20%;
    box-shadow: 0 0 50px 10px var(--shadow-color);
    z-index: -1;
  }

  @media (min-width: 800px) {
    margin-top: 0;
    box-shadow: none;
    &::before {
      content: none;
    }
  }
}

.link {
  background-color: transparent;
  text-decoration: none;
  border: none;
  outline: none;
  padding: 0;
  color: var(--muted-text-color);
  cursor: pointer;

  &[aria-pressed='true'],
  &[aria-current='true'] {
    color: var(--primary-blue);
  }

  &:hover,
  &:focus {
    color: var(--strong-text-color);
  }
}

.clearCompleted {
  composes: smallText;

  grid-area: clear;
  display: flex;
  justify-content: flex-end;
  padding: var(--s0) var(--s1);
  border-bottom-right-radius: var(--border-radius);
  color: var(--muted-text-color);
}

.backgroundShadow {
  grid-row: 2 / 4;
  grid-column: 1 / -1;
  border-radius: var(--border-radius);

  box-shadow: 0 0 30px 0px var(--shadow-color);
  z-index: -1;

  position: relative;
  &::before {
    content: '';
    position: absolute;
    border-radius: var(--border-radius);
    top: 0;
    right: 20%;
    bottom: 0;
    left: 20%;
    box-shadow: 0 0 50px 10px var(--shadow-color);
    z-index: -1;
  }
}
