.center {
  box-sizing: content-box;
  max-width: var(--measure);
  margin-left: auto;
  margin-right: auto;
}

.cover {
  --gutter: var(--s2);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: var(--gutter);
}

.cover > * {
  margin-top: var(--gutter);
  margin-bottom: var(--gutter);
}

.cover > :first-child:not(.appContent) {
  margin-top: 0;
}

.cover > :last-child:not(.appContent) {
  margin-bottom: 0;
}

.cover > .appContent {
  margin-top: auto;
  margin-bottom: auto;
}

.heading {
  font-size: var(--s3);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.17em;
}

.appContent {
  --gutter: var(--s1);
  flex-grow: 1;
  height: 0; /* otherwise 1fr grid row doesn't grow in chrome */
  display: grid;
  width: 100%;
  grid-template-columns: minmax(max-content, 1fr) auto minmax(max-content, 1fr);
  grid-template-rows: auto 1fr auto auto;
  grid-template-areas:
    'input input input'
    'list list list'
    'count filters clear'
    'filters-mobile filters-mobile filters-mobile';
}

.appContent > * {
  background-color: var(--main-background-color);
}

.todoForm {
  grid-area: input;
  display: flex;
  margin-bottom: var(--gutter);
}

.todoInput {
  flex-grow: 1;
  width: 0; /* override browser min-width on input */
  padding-top: var(--s0);
  padding-bottom: var(--s0);
  border-radius: 4px;
}

.todoList {
  grid-area: list;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.todoItem {
  padding: var(--s0) var(--s1);
  display: flex;
  align-items: center;
  letter-spacing: -0.01em;
}

.todoItemText {
  flex-grow: 1;
}

$btnColor: hsl(236, 9%, 61%);

// https://moderncss.dev/css-button-styling-guide/
.button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;

  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentcolor;
  }

  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:not(.iconButton) {
    min-height: 44px;
    min-width: 10ch;
    padding: 0.25em 0.75em;
  }

  text-align: center;

  color: var(--muted-text-color);

  transition: 220ms all ease-in-out;
  outline-style: solid;
  outline-color: transparent;

  &:hover,
  &:active {
    color: var(--strong-text-color);
  }

  &:focus {
    outline-style: solid;
    outline-color: transparent;
    box-shadow: 0 0 4px scale-color($btnColor, $lightness: -20%);
  }
}

// https://moderncss.dev/icon-button-css-styling-guide/
.iconButton {
  composes: button;
  border-radius: 50%;
  padding: 0.35em;

  & svg {
    fill: currentColor;
    stroke: currentColor;
  }
}

.deleteTodoButton {
  composes: iconButton;
  // this pulls the non visibile button target outwards
  // keeping an accessible button size but not making the containing todo too large
  padding: var(--s-1);
  margin: calc(-1 * var(--s-1));
}

.deleteTodoIcon {
  width: 1em;
  height: 1em;
}

.emptyMessage {
  grid-area: list;
}

.itemsCount {
  grid-area: count;
}

.filterButtons {
  grid-area: filters-mobile;
  margin-top: var(--gutter);
  display: flex;
  justify-content: center;
}

.link {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.link:focus {
  outline: 1px solid;
}

.link[aria-pressed='true'] {
  color: var(--primary-blue);
}

@media (min-width: 800px) {
  .filterButtons {
    grid-area: filters;
    margin-top: 0;
  }
}

.clearCompleted {
  grid-area: clear;
  display: flex;
  justify-content: flex-end;
}
