.visuallyHidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.screen {
  min-height: 100vh;
  display: grid;
  grid-template-areas: 'screen';

  & > * {
    grid-area: screen;
  }
}

.background {
  position: relative;
  max-height: 33vh;
  width: 100%;
}

.center {
  box-sizing: content-box;
  max-width: var(--measure);
  margin-left: auto;
  margin-right: auto;
}

.cover {
  isolation: isolate;
  --gutter: var(--s2);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: var(--gutter);
}

.cover > * {
  margin-top: var(--gutter);
  margin-bottom: var(--gutter);
}

.cover > :first-child:not(.appContent) {
  margin-top: 0;
}

.cover > :last-child:not(.appContent) {
  margin-bottom: 0;
}

.cover > .appContent {
  margin-top: auto;
  margin-bottom: auto;
}

.heading {
  font-size: var(--s3);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.17em;
}

.appContent {
  --gutter: var(--s1);
  flex-grow: 1;
  height: 0; /* otherwise 1fr grid row doesn't grow in chrome */
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto auto;
  grid-template-areas:
    'input input'
    'list list'
    'count clear'
    'filters filters';

  @media (min-width: 800px) {
    grid-template-columns: minmax(max-content, 1fr) auto minmax(
        max-content,
        1fr
      );
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      'input input input'
      'list list list'
      'count filters clear';
  }
}

.appContent > * {
  background-color: var(--main-background-color);
}

.todoForm {
  grid-area: input;
  display: flex;
  align-items: center;
  margin-bottom: var(--gutter);
  padding: var(--s0) var(--s1);
  border-radius: var(--border-radius);

  box-shadow: 0 0 30px 0px hsla(var(--muted-color-hsl), 30%);

  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 20%;
    bottom: 0;
    left: 20%;
    box-shadow: 0 0 50px 10px hsla(var(--muted-color-hsl), 30%);
    z-index: -1;
  }

  &:focus-within {
    box-shadow: 0 0 30px 0px hsla(var(--muted-color-hsl), 30%),
      0 0 4px var(--muted-text-color);
  }
}

.decorativeCircle {
  --border-width: calc(max(0.125rem, 2px));
  width: 1rem;
  height: 1rem;
  border: var(--border-width) solid var(--very-muted-text-color);
  border-radius: 50%;
}

.inputBase {
  border: none;
  outline-color: transparent;
  outline-style: solid;

  &:focus {
    box-shadow: 0 0 4px var(--muted-text-color);
  }
}

.todoInput {
  composes: inputBase;
  flex-grow: 1;
  width: 0; /* override browser min-width on input */
  padding-left: var(--s1);
  border-radius: var(--border-radius);

  &:focus {
    box-shadow: none;
  }
}

.todoList {
  grid-area: list;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);

  & .todoItem {
    border-bottom: 1px solid var(--very-muted-text-color);
  }
}

.todoItem {
  padding: var(--s0) var(--s1);
  display: flex;
  align-items: center;
}

.todoCompletedCheckboxInput {
  composes: visuallyHidden;

  &:checked + label {
    & .todoItemText {
      text-decoration: line-through;
      color: var(--very-muted-text-color);
    }

    & .todoItemCheckBorderWrap {
      background: var(--color-gradiant);
    }

    & .todoItemCheck {
      background-color: transparent;
    }
  }

  &:focus + label .todoItemCheckBorderWrap {
    background: var(--color-gradiant);
  }
}

.todoItemLabel {
  flex-grow: 1;
  display: flex;
  align-items: center;
  cursor: pointer;

  & > :first-child {
    margin-right: var(--s1);
  }

  &:hover .todoItemCheckBorderWrap {
    background: var(--color-gradiant);
  }
}

.todoItemCheckBorderWrap {
  --border-width: calc(max(0.125rem, 2px));
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  padding: var(--border-width);
  border-radius: 50%;
  background: var(--very-muted-text-color);
}

.todoItemCheck {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: var(--main-background-color);
  color: var(--very-muted-text-color);

  // could probably change the viewbox of the svg to improve the center weighting
  & .checkIcon {
    transform: translateY(1px);
  }
}

.checkIcon {
  width: var(--s-2);
  height: var(--s-2);
  stroke: currentColor;
  color: var(--main-background-color);
}

.todoItemText {
  flex-grow: 1;
  letter-spacing: -0.01em;
}

$btnColor: hsl(236, 9%, 61%);

// https://moderncss.dev/css-button-styling-guide/
.button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;

  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentcolor;
  }

  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:not(.iconButton) {
    min-height: 44px;
    min-width: 10ch;
    padding: 0.25em 0.75em;
  }

  text-align: center;

  color: var(--muted-text-color);

  transition: 220ms all ease-in-out;
  outline-style: solid;
  outline-color: transparent;

  &:hover,
  &:active {
    color: var(--strong-text-color);
  }

  &:focus {
    outline-style: solid;
    outline-color: transparent;
    box-shadow: 0 0 4px var(--muted-text-color);
  }
}

// https://moderncss.dev/icon-button-css-styling-guide/
.iconButton {
  composes: button;
  border-radius: 50%;
  padding: 0.35em;

  & svg {
    fill: currentColor;
    stroke: currentColor;
  }
}

.deleteTodoButton {
  composes: iconButton;
  // this pulls the non visibile button target outwards
  // keeping an accessible button size but not making the containing todo too large
  padding: var(--s-1);
  margin: calc(-1 * var(--s-1));
}

.deleteTodoIcon {
  width: 1em;
  height: 1em;
}

.emptyMessage {
  grid-area: list;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.smallText {
  font-size: max(var(--s-1), 15px);
}

.itemsCount {
  composes: smallText;

  grid-area: count;
  border-bottom-left-radius: 4px;
  padding: var(--s0) var(--s1);
  color: var(--muted-text-color);
}

.filterButtons {
  composes: smallText;
  grid-area: filters;
  margin-top: var(--gutter);
  padding: var(--s0) var(--s1);
  border-radius: var(--border-radius);
  display: flex;
  gap: var(--s0);
  justify-content: center;
  font-weight: 700;

  box-shadow: 0 0 30px 0px hsla(var(--muted-color-hsl), 30%);

  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 20%;
    bottom: 0;
    left: 20%;
    box-shadow: 0 0 50px 10px hsla(var(--muted-color-hsl), 30%);
    z-index: -1;
  }

  @media (min-width: 800px) {
    margin-top: 0;
    box-shadow: none;
    &::before {
      content: none;
    }
  }
}

.link {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  color: var(--muted-text-color);
  cursor: pointer;

  &[aria-pressed='true'] {
    color: var(--primary-blue);
  }

  &:hover,
  &:focus {
    color: var(--strong-text-color);
  }
}

.clearCompleted {
  composes: smallText;

  grid-area: clear;
  display: flex;
  justify-content: flex-end;
  padding: var(--s0) var(--s1);
  border-bottom-right-radius: var(--border-radius);
  color: var(--muted-text-color);
}

.backgroundShadow {
  grid-row: 2 / 4;
  grid-column: 1 / -1;
  border-radius: var(--border-radius);

  box-shadow: 0 0 30px 0px hsla(var(--muted-color-hsl), 30%);
  z-index: -1;

  position: relative;
  &::before {
    content: '';
    position: absolute;
    border-radius: var(--border-radius);
    top: 0;
    right: 20%;
    bottom: 0;
    left: 20%;
    box-shadow: 0 0 50px 10px hsla(var(--muted-color-hsl), 30%);
    z-index: -1;
  }
}
